*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); }

.sidebar {
  background-color: #c69963; }

.header {
  background-color: #6d5d4b; }

.realtors {
  background-color: #101d2c; }

.features {
  background-color: #aaa; }

.story__pictures {
  background-color: red; }

.story__content {
  background-color: #c69963; }

.homes {
  background-color: #101d2c; }

.gallery {
  background-color: yellow; }

.footer {
  background-color: #101d2c; }
